<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}yapasdesite.com{% endblock %}</title>
        {% block stylesheets %}
            <Link rel="StyleSheet" href="{{ asset('css/style.css') }}" type = "text/css" />
            <Link rel="StyleSheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" type = "text/css" />
        {% endblock %}

        {% block javascripts %}
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bootstrap/js/util.js') }}"></script>
        <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </head>
    {% block body %}{% endblock %}
</html>
